body {
  font-family: Arial;
  text-align: center;
  margin-top: 100px;
  background: #f0f0f0;
}
input {
  padding: 10px;
  width: 200px;
}
button {
  padding: 10px 20px;
}
#resultBox {
  margin-top: 30px;
}
